.header {
  display: flex;
  .spacer {
    flex: 1 1 auto;
  }
  .botoesDireita {
    font-size: 1em;
  }
  .picpet {
    font-size: 1.5em;
    font-family: "Sansita Swashed";
  }
}

.loginCard {
  width: 400px;
  margin: 10% auto;

  .loginTitle {
    font-size: 2rem;
    margin-left: 135px; //pensar em alguma forma inteligente de por no meio
  }

  .loginInput {
    width: 400px;
    size: 2em;
  }

  .loginButon {
    margin-left: 160px; //pensar em alguma forma inteligente de por no meio
    font-size: 2em;
    padding: 10px;
    margin-bottom: 4px;
  }
}

.loginFooter {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  // background-color: #f5f5f5;

  span {
    font-weight: 300;
    font-size: 1.1rem;
  }
  i {
    // color: red;
    color: #c2185b;
  }
}
